NEXT_PUBLIC_SUPABASE_URL=http://178.104.150.213:8001
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxvY2FsaG9zdCIsImlhdCI6MTY0MTc2OTIwMCwiZXhwIjoxOTU3MzQ1MjAwLCJyb2xlIjoiYW5vbiJ9.jtnq5nXSJAb-iOaa965DEigjhKHQMMYh__ztXEd1pLQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxvY2FsaG9zdCIsImlhdCI6MTY0MTc2OTIwMCwiZXhwIjoxOTU3MzQ1MjAwLCJyb2xlIjoic2VydmljZV9yb2xlIn0.noR627Z5Zc-yNk7d3HVVt_iuEPg2AZDaHMolOxHzNPk
QDRANT_URL=http://178.104.150.213:6333
QDRANT_API_KEY=dJsuI3arOIF4XklF1WvhjJBydPdPQGmQWOHrCZutqdA=
NEXT_PUBLIC_APP_URL=http://localhost:3000

OARS_API_KEY=
OARS_BASE_URL=https://llm.digiwebfr.studio/v1
OARS_MODEL=claude-opus-4-6
